
.status{
  border-radius: 8px;
  border: none;
  height: 30px;
  width: 135px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-align: right;
  padding-right: 8px;
  border: solid 1px #075b9300;
} 

.allStatuses{
  color: #075C93;
  border: solid 1px #075C93;
}