.statusChanger{
  display: flex;
  justify-content: flex-end;
}

.statusContainer{
  display: flex;
  justify-content: center;
  position: relative;
}

.statusBadgeContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.statusChangerSelector{
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
}

.statusArrow {
  position: absolute;
  height: 24px;
  width: 24px;
  fill: white;
  margin: 5px;
  cursor: pointer;
}