.taskRow{
  width: 100%;
}

.task{
  display: grid;
  justify-items: center;
  grid-template-columns: 35% 17.2% 17.2% 17.2% 11%;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 4px 0px #00000014; 
  height: 45px;
  border-radius: 12px;
  gap: 0.4%;
}

.trueShowSubTasks{
  background-color: #b6d1ed4d;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px 10px 0px 0px #0000000d;
}

.taskInfo{
  display: flex;
  align-items: center;
  gap: 1%;
  padding-right: 2%;
}

.taskRowArrowButton{
  height: 24px;
  width: 24px;
  fill: #075C93;
}

.inputTask{
  height: 30px;
  font-size: 14px;
  color: #333333;
  border: none;
  background-color: #075b9300;
  border-bottom: 2px solid #075b9300;

}

.inputTask:focus{
  outline: none;
  border-bottom: 2px solid #075C93;
}

.taskLabel{
  width: auto;
}

.dueDate{
  text-align: right;
}

.dueDate::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.numOfSubTasks{
  font-size: 16px;
  color: #33333380;
}
