#sortContainer {
  display: flex;
}

#sortButton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #075C93;
  height: 27px;
  width: 110px;
  border-radius: 25px;
  background-color: white;
  color: #075C93;
  font-size: 12px;
  cursor: pointer;
} 

#sortButtonArrow {
  height: 24px;
  width: 24px;
  cursor: pointer;
  fill: #075C93;
}