#sortContainer {
  display: flex;
  align-items: center;
}

#sortButton{
  border: solid 1px #075C93;
  height: 27px;
  width: 110px;
  border-radius: 25px;
  background-color: white;
  color: #075C93;
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  padding-right: 12px;
} 

#sortDownArrow {
  padding-right: 80px;
  position: absolute;
  height: 24px;
  width: 24px;
  cursor: pointer;
  fill: #075C93;
}