#titles{
  display: grid;
  grid-template-columns: 35% 15.75% 15.75% 15.75% 15.75%;
  gap: 0.4%;
  width: 100%;
  padding-top: 8px;
  font-size: 14px;
  color: rgba(146, 146, 146, 1);
}

#dueDateTitle{
  grid-column-start: 2;
}