body{
  user-select: none;
}

.appContainer{
  display: flex;
  background: #F5F5F8;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6px;
}

.manageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%; 
}

.tasksContainer{
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.searchAndSort{
  display: flex;
  gap: 8px;
}

.addAndDelete{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.header{
  font-weight: 600;
  color: #075C93;
  font-size: 28px;
  margin-right: 8px;
}

.statusChanger{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.statusContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.statusSelector{
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
}

.statusArrow {
  position: absolute;
  height: 24px;
  width: 24px;
  fill: white;
  margin: 5px;
}


.TaskStatusBadgeSelector{
  position: absolute;
  z-index: 1;
  top: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #E0E0E0;
  background-color: #E2EBF5;
  box-shadow: 0px 10px 0px 0px #0000000d;
  border-radius: 8px;
  height: 190px;
  padding: 8px;
}

.custom-checkbox{
  width: 16px;
  height: 16px;
}

.custom-checkbox:checked{
  accent-color: #075C93;
}


 





