body{
  user-select: none;
  width: 100%;
}

.content{
  display: flex;
  background: #F5F5F8;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 99%;
}

.content2 {
  display: grid;
  grid-template-columns: 19% 67.5% 3% 10%;
  align-items: center;
  gap: 8px;
  width: 98%; 
}

.header{
  color: #075C93;
  font-size: 28px;
  margin-bottom: 1px;
  margin-right: 8px;
  width: 99%;
}

#statusSelector{
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  background-color: #E2EBF5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  width: 169px;
  height: 220px;
  justify-content: center;
}

.custom-checkbox{
  width: 16px;
  height: 16px;
}

.custom-checkbox:checked{
  accent-color: #075C93;
}


#titles{
  padding-top: 8px;
  font-size: 14px;
  color: rgba(146, 146, 146, 1);
  display: grid;
  grid-template-columns: 35% 15.75% 15.75% 15.75% 15.75%;
  gap: 0.4%;
  width: 100%;
}

#endDateLable{
  grid-column-start: 2;
}

#tasksRows{
  display: flex;
  flex-wrap: wrap;
}

.taskRow{
  display: grid;
  grid-template-columns: 35% 15.75% 15.75% 15.75% 15.75%;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08); 
  height: 45px;
  border-radius: 12px;
  gap: 0.4%;
  width: 99.7%;
  margin-bottom: 0.8%;
}

.taskInfo{
  display: flex;
  align-items: center;
  gap: 1%;
  padding-right: 2%;
}

#taskRowArrowButton{
  height: 24px;
  width: 24px;
  fill: #075C93;
}

.arrowButton-left{
  transform: rotate(90deg);
  transform-origin: center;
}

.arrowButton-down{
  transform: rotate(0deg);
  transform-origin: center;
}
 
#numOfSubTasks{
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
}

.inputTask{
  height: 30px;
  font-size: 14px;
  color: rgba(51, 51, 51, 1);
  border: none;
  background-color: #075b9300;
}

.inputTask:focus{
  outline: none;
  border-bottom: 2px solid #075C93;
}

#taskLable{
  width: auto;
  box-sizing: content-box;
}

#dueDate{
  text-align: right;
}

#dueDate::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.taskRow[about='true']{
  background-color: rgba(182, 209, 237, 0.3);
}


