body{
  user-select: none;
  width: 100%;
}

.content{
  display: flex;
  background: #F5F5F8;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 99%;
}

.content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 99%; 
}

.serchAndSort{
  display: flex;
  gap: 8px;
}

.addAndDelete{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.header{
  color: #075C93;
  font-size: 28px;
  margin-bottom: 1px;
  margin-right: 8px;
  width: 99%;
}



#statusSelector{
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  background-color: #E2EBF5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  width: 169px;
  height: 220px;
  justify-content: center;
}

.custom-checkbox{
  width: 16px;
  height: 16px;
}

.custom-checkbox:checked{
  accent-color: #075C93;
}


 





