
.deleteButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  border-radius: 50%;
  border: solid 1px #075C93;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.deleteButtonIcon {
  fill: #075C93;
  height: 16px;
  width: 18px;
}

.deleteButton:hover{
  background-color: #8cb9d6;
}